@charset "UTF-8";

#example01 {
    padding-top: 3px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#example02 {
    padding: 10px 5px 20px 50px;
}

#example03 {
    padding: 20px 45px 60px 12px;
}

#example04 {
    padding: 13px 45px 30px 15px;
}