@charset "utf-8";

body {
    background-color: #1F2428;
}

#main-title {
    text-align: center;
    font-family: sans-serif;
    font-style: oblique;
    color: #85E89D;
    background-color: #24292E;
}

.example-container {
    background-color: #11114e;
    padding: 5px;
}

#descriptor {
    background-color: lightgray;
    text-align: center;
    padding: 1px 1px 1px 1px;
    margin: 20px 50px 20px 50px;
}

article {
    background-color: #000000;
}

.example {
    color: #7ECBFF;
    background-color: #263749;
    font-family: Consolas;
}

small {
    color: #4EABFF;
    background-color: #3a4349;
    font-family: sans-serif;
}